---
import Layout from '../layouts/Layout.astro'
---

<Layout title="UEC太郎のページ" description="とある大学生のプロフィール">
  <h2>自己紹介</h2>
  <h3>名前</h3>
  <p>UEC太郎 (UECたろう)</p>
  <h3>年齢</h3>
  <p>18歳 (2005年6月生まれ)</p>
  <h3>所属</h3>
  <ul>
    <li><a href="https://www.uec.ac.jp" target="_blank">電気通信大学</a> 情報理工学域 Ｉ類 ('24入学)</li>
    <li><a href="https://www.team411.jp" target="_blank">team411</a></li>
    <li><a href="https://www.koken.club.uec.ac.jp" target="_blank">工学研究部</a></li>
    <li><a href="https://shinkan.chofusai.jp/about" target="_blank">調布祭実行委員会</a></li>
  </ul>
  <h3>好きなこと</h3>
  <p>食べたり寝たりTwitter見たりするのが好きです。</p>
  <p>寝てても起こさないでください。</p>
  <h3>苦手なこと</h3>
  <p>働いたり運動したりすることが苦手です。</p>
  <p>朝起きるのもあんま得意じゃないです。</p>
  <h3>その他</h3>
  <p>Twitterでどんどん絡みにいくのでよろしくお願いします。</p>
</Layout>
