---
import Layout from '../layouts/Layout.astro'
---

<Layout title="UEC太郎のページ" description="とある大学生のプロフィール">
  <h2>SNS</h2>
  <h3>Twitter</h3>
  <p>しょうもないツイートを垂れ流します。</p>
  <p><a href="https://twitter.com/uectaro" target="_blank">@uectaro</a></p>
  <h3>Instagram</h3>
  <p>ストーリーは24時間で消えるってことはつまりそういうことです。</p>
  <p><a href="https://instagram.com/uectaro" target="_blank">@uectaro</a></p>
  <h3>GitHub</h3>
  <p>テスト前ほど草生えます。</p>
  <p><a href="https://github.com/uectaro" target="_blank">@uectaro</a></p>
</Layout>
