---
---

<div class="navbar">
  <a href="/">UEC太郎のページ</a>
</div>

<style>
  .navbar {
    padding: 1.5rem;
    text-align: center;
  }
  .navbar a {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }
</style>
