---
import 'modern-normalize/modern-normalize.css'
import '../global.css'

import Header from '../components/Header.astro'
import SideMenu from '../components/SideMenu.astro'
import Footer from '../components/Footer.astro'

interface Props {
  title: string
  description: string
}

interface MenuItem {
  title: string
  link: string
}

const { title, description } = Astro.props
const menu: MenuItem[] = [
  { title: 'ホーム', link: '/' },
  { title: '自己紹介', link: '/about' },
  { title: 'SNS', link: '/social' },
]
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
	</head>
	<body>
    <Header />
    <div class="container">
      <div class="main">
        <slot />
      </div>
      <div class="sidebar">
        <SideMenu menu={menu} />
      </div>
    </div>
    <div class="sticky-footer">
      <Footer />
    </div>
	</body>
</html>

<style>
  html {
    height: 100%;
  }
  body {
    height: 100%;
  }
  .container {
    padding: 1.5rem;
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 3rem;
  }
  .main {
    grid-column: span 2 / span 2;
  }
  @media (max-width: 1024px) {
    .main {
      grid-column: span 3 / span 3;
    }
    .sidebar {
      display: none;
    }
  }
  .sticky-footer {
    position: sticky;
    top: 100vh;
    top: 100dvh;
  }
</style>
